{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<img style="max-width: 250px; min-width: 50px; width: 30%; height: auto; margin: 1rem;" src="{% static 'ghanaflag_pixelart.svg' %}" width="250" height="355" alt="" class="float-end">

<h1>Welcome to the Ghana Hub</h1>
<h3>Give me a spin, I'm your Data Hub prototype in action!</h3>

<p>
	The <b>Data Hub</b> is a self-hostable, open-source engine for reproducible data harmonization, dataset building &amp; exploration, which serves as a dynamic spatio-temporal information platform tailored to the data practices of stakeholders in Global Health research, education and action. This <b>Demo Hub</b> offers a comprehensive view of various Data Layers relevant to <b>Ghana</b>, covering categories like demographics, socioeconomic factors, environmental conditions, weather patterns, health, and infrastructure. These layers are built from both user-contributed and open data sources (with some layers derived from shared sources), creating a robust data foundation for data analysis and informed decision-making in Global Health.
</p>

<p>
	The <b>{{ datahub_name }}</b> currently integrates {{ datalayers_count }} Data Layers from different sources for a total of {{ shapes_count }} different geographical units in <b>Ghana</b> of the following types:
</p>
<ul>
{% for type in shape_types %}
	<li><a href="{{ type.get_absolute_url }}">{{ type.name }}</a> ({{ type.shapes.all.count }})</li>
{% endfor %}
</ul>

<div class="alert alert-light">

	<b>Ghana Administrative Boundaries</b>

	<p>In 2019, the number of regions increased from 10 to 16. 173 districts existed in 2010 and 216 districts in 2017. Their number has grown to 260 by splits in 2018 and 2019. Guan was inaugurated as 261st district in October 2021.</p>

	<p>The geoshapefile of Ghana presented in this Data Hub is representing the map status prior October 2021. The data is sourced from Ghana Statistical Services (GSS) contributed by OCHA West and Central Africa (ROWCA) via the <a href="https://data.humdata.org/dataset/cod-ab-gha">Humanitarian Data Exchange Platform</a> (HDX).</p>
</div>

<p>
	More details and in-depth documentation of each Data Layer can be accessed via its <a href="{% url 'datalayers:datalayer_index' %}">documentation page</a>, including metadata information, in line with FAIR data sharing principles.
</p>
<br>

<h3>Snack your Data</h3>
<p>

	To explore the Data Hub's Data Layers, you can navigate through the <a href="{% url 'shapes:shape_index' 'country' %}">Country</a>, <a href="{% url 'shapes:shape_index' 'region' %}">Region</a>, and <a href="{% url 'shapes:shape_index' 'district' %}">District</a> listings or use the <a href="{% url "app:tools_picker" %}">location picker</a>. You can also look for specific Data Layers in the Data Layer overview, within their categories, or by using the general search function. Once you've selected your Data Layer of interest, you can customize your selection using our data exploration configurator, which provides a basic preview (including spatial and temporal details) of the data for your convenience. The harmonized data is available for download in CSV or Excel format or can be accessed via an API.
</p>
<br>

<h3>Terms of Use</h3>
<p>
	The <b>Ghana Hub</b> hosts datasets under a wide range of licenses, ensuring compliance with the intellectual property rights of the various data sources utilized. Some datasets have been processed according to the needs of potential user groups.
	By accessing datasets through the Data Hub and/or the original source, users implicitly agree to abide by the terms of the applicable license specific to each dataset, as described in the dataset's metadata. This includes that when utilizing any data provided through the Data Hub, the data custodian shall be credited in the manner specified in the respective license and that relevant copyright provisions shall be complied with.
	In addition, the Data Hub shall be cited as contributing service as follows:
<p>

<p class="ps-3 text-muted" style="border-left: 3px solid #ccc; font-style: italic;">
	Ströbele, J., &amp; Boenecke, J. (2024). Data Hub (Version {{ DATAHUB_VERSION }}) [Computer software]. <a href="https://github.com/datasnack/datahub">https://github.com/datasnack/datahub</a>
</p>


{% endblock %}
